
{% extends "main.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block menu %}
{{ super() }}
{% endblock %}
{% block login %}
<li class="join section-btn"><a id=""href="{{url_for('gdisconnect')}}" >Logout</a></li>
{% endblock %}
{% block menu2 %}
{{ super() }}
{% endblock %}
{% block content %}
         <section id="blog-header" data-stellar-background-ratio="0.5">
         <div class="overlay"></div>
         <div class="container"> </div>
      </section>
      <!-- Recipes -->
      <section id="contact" data-stellar-background-ratio="0.5">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12">
                  <div class="section-title">
                     <h2>Edit a Recipes</h2>
                     <span class="line-bar">...</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-sm-12">
                     <form id="" role="form" action="#" method="post">
                     <div class="col-md-6 col-sm-6">
              <input type="text" class="form-control" placeholder="Recipe name" id="title" name="title" value="{{item.title}}"required="">
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <select class="form-control" id="categories" name="categories">
                           <option value="1" {% if item.category_id == 1%}selected{%endif%}>Breakfast & Branch</option>
                           <option value="2" {% if item.category_id == 2%}selected{%endif%}>Lunch</option>
                           <option value="3" {% if item.category_id == 3%}selected{%endif%}>Dinner</option>
                        </select>
                     </div>
                     <div class="col-md-3 col-sm-3">
                        <input type="number" class="form-control" placeholder="Prepare time in minutes" id="" name="p-time" value="{{item.preparingTime}}"required="">
                     </div>
                     <div class="col-md-3 col-sm-3">
                        <input type="number" class="form-control" placeholder="Cooking time in minutes" id="c-time" name="c-time" value="{{item.cookingTime}}" required="">
                     </div>
                     <div class="col-md-3 col-sm-3">
                        <input type="number" class="form-control" placeholder="serves" id="serves" name="serves" value="{{item.serves}}"required="">
                     </div>
                     <div class="col-md-3 col-sm-3">
                        <select class="form-control" id="difficulty" name="difficulty">
                           <option  {% if item.difficulty == 'Easy'%}selected{%endif%}>Easy</option>
                           <option  {% if item.difficulty == 'Medium'%}selected{%endif%}>Medium</option>
                           <option  {% if item.difficulty == 'Hard'%}selected{%endif%}>Hard</option>
                        </select>
                     </div>
                     <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="6" placeholder="description" id="description" name="description"value="" required="">{{item.description}}</textarea>
                     </div>
                     {% for i in item.nutritions %}
                      <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Energy (kJ)" id="energy" name="energy" value="{{i.energy}}"required="">
                     </div>
                     <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Calories" id="calories" name="calories"value="{{i.calories}}" required="">
                     </div>
                      <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Fat" id="fat" name="fat"value="{{i.fat}}" required="">
                     </div>
                     <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Saturated Fat " id="s-fat" name="s-fat" value="{{i.saturatedFat}}"required="">
                     </div>
                      <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Carbohydrate" id="carbs" name="carbs" value="{{i.carbohydrate}}"required="">
                     </div>
                     <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Sugar" id="sugar" name="sugar" value="{{i.sugar}}"required="">
                     </div>
                      <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Dietary Fiber " id="fibers" name="fibers" value="{{i.dietaryFiber}}"required="">
                     </div>
                     <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Protein" id="protein" name="protein" value="{{i.protein}}"required="">
                     </div>
                      <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Cholesterol" id="chol" name="chol" value="{{i.cholesterol}}"required="">
                     </div>
                     <div class="col-md-2 col-sm-2">
                        <input type="number" class="form-control" placeholder="Sodium" id="sodium" name="sodium" value="{{i.sodium}}"required="">
                     </div>
                       {% endfor %}
                     <div class="col-md-4 col-sm-4">
  <input type="file" class="custom-file-input" id="customFile" name="image">
                     </div>

                     <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="6" placeholder="Ingredients" id="ingredients" name="ingredients" value=""required="">{{item.ingredients}}</textarea>
                     </div>
                     <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="6" placeholder="Instructions" id="instructions" name="instructions" required="">{{item.instructions}}</textarea>
                     </div>
                     <div class="text-center col-md-3 col-sm-6">
                        <input type="submit" class="form-control" name="submit" value="Submit">
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
<!-- FOOTER -->
{% block footer %}
{{ super() }}
{% endblock %}
{% block signInCallback %}
<!-- MODAL -->
<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content modal-popup">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="modal-title">
                        <h2>RECIPE<span class="dot"></span></h2>
                     </div>
                     <!-- NAV TABS -->
                     <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
                        <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
                     </ul>
                     <!-- TAB PANES -->
                     <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                           <div id="signinButton">
                              <span class="g-signin"
                                 data-scope="openid email"
                                 data-clientid="402840848911-7ftm7s7ov83deljv1l2credbu5l1e96j.apps.googleusercontent.com"
                                 data-redirecturi="postmessage"
                                 data-accesstype="offline"
                                 data-cookiepolicy="single_host_origin"
                                 data-callback="signInCallback"
                                 data-approvalprompt="force">
                              </span>
                           </div>
                           <div class="result">asdt</div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                           <div id="signinButton">
                              <span class="g-signin"
                                 data-scope="openid email"
                                 data-clientid="402840848911-7ftm7s7ov83deljv1l2credbu5l1e96j.apps.googleusercontent.com"
                                 data-redirecturi="postmessage"
                                 data-accesstype="offline"
                                 data-cookiepolicy="single_host_origin"
                                 data-callback="signInCallback"
                                 data-approvalprompt="force">
                              </span>
                           </div>
                           <div class="result">t</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- SCRIPTS -->

{% endblock %}
{% block script %}
{{ super() }}
{% endblock %}