{% extends "main.html" %}
{% block content %}
<div class="row">
<h1>Private Home</h1>
<a href="#">log out</a>
</div>
 <h2>Categories</h2>
 <div class = 'flash'>
              {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
<div class="row">
    {% for category in categories %}
    <div class="col">
        <h3><a href="#">{{category.title}}</a></h3>
        {% for item in items %}
        {% if item.category_id == category.id %}
        <h4><a href="#">{{item.title}}</a></h4>
        {% endif %}
        {% endfor %}
    </div>
     {% endfor %}
</div>
{% endblock %}