{% extends "main.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block menu %}
{{ super() }}
{% endblock %}
{% block login %}
<li class="join section-btn"><a id=""href="{{url_for('showLogin')}}" data-toggle="modal" data-target="#modal-form">Sign in / Join</a></li>
{% endblock %}
{% block menu2 %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- HOME -->
      <!-- BLOG HEADER -->
      <section id="blog-header" data-stellar-background-ratio="0.5">
         <div class="overlay"></div>
         <div class="container"> </div>
      </section>
      <!-- Recipes -->
      <section id="" data-stellar-background-ratio="0.5">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12">
                     <div class="section-title">
                        <h2>{{item.title}}</h2>
                        <span class="line-bar">...</span>
                     </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-8 col-sm-12">
                  <!-- BLOG THUMB -->
                  <div class="media card-thumb">
                     <div class="media-body item-info">
                        <h3>Description</h3>
                        <p> {{item.description}}</p>
                     </div>
                  </div>
                  <!-- BLOG THUMB -->
                  <div class="media card-thumb">
                     <div class="text-center media-body item-info">
                        <h3>How To Find Out  Workspace.</h3>
                        <div class="col-md-4 col-sm-6">
                           <img class="svg responsive-image"src="{{ url_for('static', filename='images/alarm-clock.svg')}}" alt="">
                           <div > Prep: 20 mins </div>
                           <div > Cook: 10 mins </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                           <img class=" svg responsive-image"src="{{ url_for('static', filename='images/serving.svg')}}" alt="">
                           Serves 4
                        </div>
                        <div class="col-md-4 col-sm-6">
                           <img class="svg responsive-image"src="{{ url_for('static', filename='images/chef-hat.svg')}}" alt="">
                           Easy
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-12">
                  <!-- BLOG THUMB -->
                  <div class="media card-thumb">
                     <div class="media-body item-info">
                        <table>
                           <tr>
                              <td>
                                 <h3>Nutrition Values </h3>
                              </td>
                              <td id="smallfont"> / per serving</td>
                           </tr>
                           <tr>
                              <td>Energy (kJ) </td>
                              <td>2552 kJ</td>
                           </tr>
                           <tr>
                              <td>Calories </td>
                              <td>2552 kJ</td>
                           </tr>
                           <tr>
                              <td>Fat </td>
                              <td>2552 kJ</td>
                           </tr>
                           <tr>
                              <td>Saturated Fat </td>
                              <td>2552 kJ</td>
                           </tr>
                           <tr>
                              <td> Carbohydrate </td>
                              <td>2552 kJ</td>
                           </tr>
                           <tr>
                              <td> Sugar </td>
                              <td> 17 g </td>
                           </tr>
                           <tr>
                              <td> Dietary Fiber </td>
                              <td> 4 g </td>
                           </tr>
                           <tr>
                              <td> Protein </td>
                              <td> 31 g </td>
                           </tr>
                           <tr>
                              <td> Cholesterol </td>
                              <td> 135 mg </td>
                           </tr>
                           <tr>
                              <td> Sodium </td>
                              <td> 1060 mg </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <!--ingridaiants -->
            <div class="flex row-eq-height">
               <div class="flex col-md-5 col-sm-12">
                  <!-- BLOG THUMB -->
                  <div class="media card-thumb">
                     <div class="media-body item-info">
                        <h3>Ingredients</h3>
                        <ul>
                           <li>200g bulghar wheat</li>
                           <li>50g pumpkin seeds</li>
                           <li>3 tbsp olive or rapeseed oil</li>
                           <li>250g pack halloumi cheese, cut into 10-12 slices</li>
                           <li>1 cucumber, halved lengthways, seeds scooped out and cut into chunks</li>
                           <li>large bunch either parsley, mint, coriander or basil, or a mixture, chopped, reserving a few leaves to serve</li>
                           <li>zest and juice 2 lemons</li>
                           <li>¼ watermelon, cut into chunks, or a 400g pack ready-prepared</li>
                        </ul>
                     </div>
                  </div>
               </div>

            <!--ingridaiants -->
            <!--methods -->
               <div class="flex col-md-7 col-sm-12">
                  <!-- BLOG THUMB -->
                  <div class="media card-thumb">
                     <div class="media-body item-info">
                        <h3>Method</h3>
                        <ol>
                           <li>
                              <p>
                                 Boil the kettle. Put the bulghar wheat in a bowl with some seasoning, pour over enough hot water to just cover, then cover with cling film and set aside to absorb the liquid while you prepare the remaining ingredients.
                              </p>
                           </li>
                           <li>
                              <p>
                                 Heat a large frying pan and add the pumpkin seeds, toast for a few mins until the seeds start to crackle and pop, then tip into a dish and set aside. Heat a drizzle of oil in the pan. Add the halloumi slices and fry for 2-3 mins on each side or until golden.
                              </p>
                           </li>
                           <li>
                              <p>
                                 Unwrap the bulghar wheat and check that it is tender (if not, re-cover and leave for another 5 mins). All the water should have been absorbed, but if not, drain the excess. Add the remaining oil, the cucumber, herbs, lemon zest and juice, and pumpkin seeds to the bulghar wheat and toss well. Transfer to a platter, top with the watermelon and halloumi, and scatter with the reserved herbs.
                              </p>
                           </li>
                        </ol>
                     </div>
                  </div>
               </div>
            <!--methods-->

         </div>

      </section>

{% endblock %}
<!-- FOOTER -->
{% block footer %}
{{ super() }}
{% endblock %}
{% block signInCallback %}
<!-- MODAL -->
<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content modal-popup">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="modal-title">
                        <h2>RECIPE<span class="dot"></span></h2>
                     </div>
                     <!-- NAV TABS -->
                     <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
                        <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
                     </ul>
                     <!-- TAB PANES -->
                     <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                           <div id="signinButton">
                              <span class="g-signin"
                                 data-scope="openid email"
                                 data-clientid="402840848911-7ftm7s7ov83deljv1l2credbu5l1e96j.apps.googleusercontent.com"
                                 data-redirecturi="postmessage"
                                 data-accesstype="offline"
                                 data-cookiepolicy="single_host_origin"
                                 data-callback="signInCallback"
                                 data-approvalprompt="force">
                              </span>
                           </div>
                           <div class="result">asdt</div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                           <div id="signinButton">
                              <span class="g-signin"
                                 data-scope="openid email"
                                 data-clientid="402840848911-7ftm7s7ov83deljv1l2credbu5l1e96j.apps.googleusercontent.com"
                                 data-redirecturi="postmessage"
                                 data-accesstype="offline"
                                 data-cookiepolicy="single_host_origin"
                                 data-callback="signInCallback"
                                 data-approvalprompt="force">
                              </span>
                           </div>
                           <div class="result">t</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- SCRIPTS -->

{% endblock %}
{% block script %}
{{ super() }}
{% endblock %}