{% extends "main.html" %}
{% block content %}
<div class="row">
<h1>Public Home</h1>
<a href="#">log in </a>
</div>
 <h2>Categories</h2>
<div class="row">
    {% for category in categories %}
    <div class="col">
        <a href="{{url_for('showRecipes', category_id = category.id) }}">
            <h3>{{category.title}}</h3></a>
        {% for item in items %}
        {% if item.category_id == category.id %}
        <a href="{{url_for('showRecipy', category_id = category.id,recipy_id=item.id) }}"><h4>{{item.title}}</h4></a>
        {% endif %}
        {% endfor %}
    </div>
     {% endfor %}
</div>

{% endblock %}