{% extends "main.html" %}
{% block content %}
<div class="row">
<h1>Public Home</h1>
<a href="{{url_for('showLogin')}}">log in </a>
</div>
<div class = 'flash'>
              {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
 <h2>Categories</h2>
<div class="row">
    {% for category in categories %}
    <div class="col">
        <a href="{{url_for('showRecipes', category_id = category.id) }}">
            <h3>{{category.title}}</h3></a>
        {% for item in items %}
        {% if item.category_id == category.id %}
        <a href="{{url_for('showrecipe', category_id = category.id,recipe_id=item.id) }}"><h4>{{item.title}}</h4></a>
        {% endif %}
        {% endfor %}
    </div>
     {% endfor %}
</div>

{% endblock %}